In [1]:
name = 'Shashank'
age = 33
height = 5.10
location = (3.24, 9.87)

In [2]:
var1 = '' # Contains a blank string value - STR data type
var2 = '[DS, ML, Python]' # Contains a string value - will be str data type irrespective of a list being passed. The interpreter will still consider this as a STR
var3 = ['DS', 'ML', 'Python'] # Contains a list of elements
var4 = 1. # Will be considered as a float even though we have not specified any digits in the decimal place.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
num1 = 84
num2 = 5

print(num1 / num2) # Returns the exact (floating point) value of the division
print(num1 % num2) # Returns the remainder of the division operation
print(num1 // num2) # Returns the integer (whole number) quotient of the division (excludes the remainder part)
print(num1 ** num2) # Raising the first number to the power of the second number

16.8
4
16
4182119424

In [4]:
my_list = [-1, 2, 3.0, '4', 5, 'Shashank', 'Data Science', 7 + 9j, print, height]

for item in my_list:
    print(item, " -- ", type(item))

-1  --  <class 'int'>
2  --  <class 'int'>
3.0  --  <class 'float'>
4  --  <class 'str'>
5  --  <class 'int'>
Shashank  --  <class 'str'>
Data Science  --  <class 'str'>
(7+9j)  --  <class 'complex'>
<built-in function print>  --  <class 'builtin_function_or_method'>
5.1  --  <class 'float'>

In [5]:
num_a = 100
num_b = 20

original_num = num_a

counter = 0

if num_a % num_b == 0:
    while num_a > 0:
        num_a -= num_b
        counter += 1
    print(f'{original_num} can be divided {counter} times by {num_b}')

100 can be divided 5 times by 20

In [6]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for number in num_list:
    if number % 3 == 0:
        print(f'{number} is divisible by 3')
    else:
        print(f'{number} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [7]:
"""
Immutable data types are the ones where we cannot change the value contained in that variable. We need to create a new instance of the variable to update a data point at a given index. String and Tuple are the examples of Immutable data type.

Both the operations below would result in an error when uncommented
"""

# name[0] = 'P'
# location[1] = (10.2)

"""
Mutable data types are the ones where we can change the value contained in that variable in the same instance. Lists and Dictionaries are the examples of Mutable data type.

Both the operations below would work fine
"""

num_list[0] = 99

my_dict = {'name': 'Shashank', 'age': 33, 'height': 5.10}
my_dict['name'] = 'PW Skills'